{
  "paths": {
    "mixins": "./mixins",
    "templates": "./templates"
  },
  "nodemailer": {
    "host": "smtp.mailtrap.io OR use ethereal.email OR Another Server",
    "port": 2525,
    "secure": false,
    "auth": {
      "user": "**USER**",
      "pass": "**PASSWORD**"
    }
  },
  "broker": {
    "vhosts": {
      "mailer": {
        "connection": {
          "hostname": "ov-debug-mq",
          "user": "**USER**",
          "password": "**PASSWORD**"
        },
        "queues": {
          "inbox": {
            "check": true
          }
        }
      }
    },
    "subscriptions": {
      "incoming": {
        "vhost": "mailer",
        "queue": "inbox"
      }
    }
  }
}
