{
  "session": {
    "store": {
      "type": "cookie",
      "cookie": {
        "id": "__sid",
        "encryption": null,
        "hash": "**HASH-KEY**",
        "options": {
          "maxage": 7200
        }
      }
    }
  },
  "database": {
    "shard-groups": [{
        "shards": [{
          "range": [0, 0],
          "connection": {
            "database": "vault",
            "user": "root",
            "password": null,
            "server": {
              "host": "ov-debug-db",
              "port": 3306
            }
          }
        }]
      },
      {
        "shards": [{
          "range": [0, 0],
          "connection": {
            "database": "vault",
            "user": "root",
            "password": null,
            "server": {
              "host": "ov-debug-db",
              "port": 3306
            }
          }
        }]
      }
    ]
  }
}
